<div class="container main-container home-container">
  <div class="row text-center home-content">

    <div class="home-title">
      <h1 class="">Seja Bem-vindo ao Teste Técnico</h1>

    </div>

    <div class="home-text">
      <p>O objetivo deste Teste Técnico é prover uma aplicação Angular integrada com WebApi<br>
        em C# para simular o calculo de titulos CDB.</p>
      <p>Selecione <b><span style="color:#002c63">Renda Fixa</span></b> no menu acima para ter acesso aos titulos e realizar a simulação.</p>
    </div>

  </div>
</div>
<!-- Fim Content -->