<div class="">
  @if(!simulacao){
  <h4>Lista de títulos</h4>
  <div class="titulo-grid">


    @for(tit of titulos; track tit){
    <div class="titulo-container">
      <p class="titulo-nome">{{tit.nomeTitulo}}</p>
      <span class="titulo-taxa">{{tit.posFixado? tit.taxaRendimento + '% ' + tit.indexador.descricao : tit.taxaRendimento + '% PRE' }} a.a</span>
      <p class="titulo-tipo">{{tit.tipoTitulo.descricao}}</p>
      <button class="btnSimular" (click)="ativarSimulacao(tit)">SIMULAR INVESTIMENTO</button>
    </div>
    }

  </div>
  } @else {
  <span class="simulacao-voltar" (click)="sairSimulacao()">
    < Voltar</span>

      <div class=" simulacao-container">
        <div class="simulacao-form-container">
          <p class="simulacao-titulo-nome">{{tituloCurrent.nomeTitulo}}</p>
          <p class="simulacao-titulo-taxa">{{tituloCurrent.posFixado? tituloCurrent.taxaRendimento + '% ' + tituloCurrent.indexador.descricao : tituloCurrent.taxaRendimento + '% PRE' }} a.a</p>
          <form novalidate (ngSubmit)="simularInvestimento()" [formGroup]="simulacaoForm">
            <div class="form-input-container">
              <label for="valorInicial">Valor Inicial</label>
              <span class="form-error-message" *ngIf="(simulacaoForm.controls.valorInicial.touched || simulacaoForm.controls.valorInicial.dirty) && simulacaoForm.controls.valorInicial.errors">
                @if(simulacaoForm.controls.valorInicial.value < 0) { Não é permitido valores negativos } @else if(simulacaoForm.controls.valorInicial.value==0) { Valor Inicial deve ser maior que zero } @else { Valor Inicial inválido } </span>
                  <input currencyMask [(ngModel)]="simulacaoForm.controls.valorInicial.value" [options]="{align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }" [ngClass]="{'form-error-input': (simulacaoForm.controls.valorInicial.touched || simulacaoForm.controls.valorInicial.dirty) && simulacaoForm.controls.valorInicial.errors}" type="text" formControlName="valorInicial" placeholder="Digite o Valor Inicial do investimento" />

            </div>



            <div class="form-input-container">
              <label for="quantidadeMeses">Quantidade de Meses</label>
              <span class="form-error-message" *ngIf="(simulacaoForm.controls.quantidadeMeses.touched || simulacaoForm.controls.quantidadeMeses.dirty) && simulacaoForm.controls.quantidadeMeses.errors">
                @if(simulacaoForm.controls.quantidadeMeses.value < 0){ Não é permitido valores negativos } @else if(simulacaoForm.controls.quantidadeMeses.value % 1 !=0){ Não é permitido casas decimais para este campo } @else if(simulacaoForm.controls.quantidadeMeses.value==0){ Quantidade de meses deve ser maior que zero } @else{ Quantidade de meses inválido } </span>
                  <input [ngClass]="{'form-error-input': (simulacaoForm.controls.quantidadeMeses.touched || simulacaoForm.controls.quantidadeMeses.dirty) && simulacaoForm.controls.quantidadeMeses.errors}" type="text" formControlName="quantidadeMeses" placeholder="Digite a quantidade de Meses do investimento" />
            </div>
            <div class="simulacao-submit">
              <button [disabled]="!simulacaoForm.valid" [ngClass]="{'btn-simulacao-disabled': !simulacaoForm.valid, 'btnSimular:hover': simulacaoForm.valid}" class="btnSimular">CALCULAR SIMULAÇÃO</button>
            </div>

          </form>
        </div>
        <div class="simulacao-result-container">
          @if(mostrarResultadoSimulacao){


          @if(resultadoSimulacao){
          <div class="simulacao-result-table">
            <p class="simulacao-result-attribute">
              Valor Bruto:
            </p>
            <p class="simulacao-result-value">
              {{resultadoSimulacao.valorTotalBruto | currency: 'BRL'}}
            </p>
            <p class="simulacao-result-attribute">
              Valor Total Investido:
            </p>
            <p class="simulacao-result-value">
              {{resultadoSimulacao.valorTotalInvestido | currency: 'BRL'}}
            </p>
            <p class="simulacao-result-attribute">
              Valor Rendimentos:
            </p>
            <p class="simulacao-result-value">
              {{resultadoSimulacao.valorRendimento| currency: 'BRL'}}

            </p>
            <p class="simulacao-result-attribute">
              Desconto(I.R.):
            </p>
            <p class="simulacao-result-value">
              {{resultadoSimulacao.valorDescontoImpostoRenda | currency: 'BRL'}}
            </p>
            <p class="simulacao-result-attribute ">
              Valor Líquido:
            </p>
            <p class="simulacao-result-value liquido-value">
              {{resultadoSimulacao.valorTotalLiquido | currency: 'BRL' : 'symbol' : '1.2-2' }}
            </p>
          </div>

          }
          }

        </div>
      </div>

      }


</div>